<!-- 
    <div class="col-lg-4 mx-auto">
    <div class="card mb-4 sm-8">
        <h3 class="card-header text-center">New Product</h3>
        <form (submit)="createProduct(nombre,tipo,description)">
            <div class="form-group">
                <input type="text"  class="form-control" placeholder="Name Product" #nombre>
            </div>
           
            <div class="form-group">
                <input type="text"  class="form-control" placeholder=" type Product" #tipo>
            </div>
            -
        
            <div class="form-group">
                <label style="position: relative; left:7%;" for="exampleSelect1">Type Product</label>
                <select class="form-control custom-select" id="exampleSelect1" #tipo>
                    <option>Select</option>
                    <option>National</option>
                    <option>Import</option>
                    <option>Good</option>
                    <option>Bad</option>
                </select>
            </div>
           
            <textarea #description placeholder="Description Product´s" class="form-control" name="" id="" cols="5"
                rows="5"></textarea>
            <button type="submit" class="btn btn-success btn-block mt-2">Save</button>
        </form>
    </div>

</div>


-->